.godot/

# OS
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Large AI models
*.ckpt
*.pth
*.pt
*.onnx

# Large training data
datasets/
training_data/data/raw/cards.csv/
data/raw/cardRulings.csv/
data/raw/cardIdentifiers.csv/
data/raw/cardLegalities.csv/
data/raw/tokens.csv/

data/raw/cards.csv/
data/raw/cardRulings.csv/
data/raw/cardIdentifiers.csv/
data/raw/cardLegalities.csv/
data/raw/tokens.csv/